{% extends 'base.html.twig' %}

{% block title %}
        Test
{% endblock %}

{% block body %}

    Size: ({{ brandSizes|length }})
    {% for brand in brandSizes %}
        {{brand}}    
    {% endfor %}

    <p>{{ _self }}</p>
    <p>{{ _charset }}</p>
    <p>{{ author }}</p>

{% endblock %}