{% extends 'base.html.twig' %}

{% block title %}
        Test
{% endblock %}

{% block body %}

    Size: ({{ brands|length }})
    {% for brand in brands %}
        {{brand.name}}    
    {% endfor %}

    <p>{{ _self }}</p>
    <p>{{ _charset }}</p>
    <p>{{ author }}</p>

{% endblock %}